<Html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Authorization</title> <!-- Название страницы -->
		<link rel="stylesheet" type="text/css" href="../static/css/authorization.css"> <!-- Подключение css -->
	</head>


	<body>
    <div class= "log_box">
      <h1 class= "title">Пройдите авторизацию</h1>
          <div class= "login">
            <form class="form1">
                <input class="input_login" type="text" placeholder="Введите логин" />
            </form>
          </div>
          <div class= "passwd">
            <form class="form1">
              <p class="input_title"></p>
                <input type="password" class="input_passwd" placeholder="Введите пароль" />
            </form>
          </div>
            <div class= "button">
            <button class="btn_auth">Авторизоваться</button>
          </div>
        </div>
    <div>
	</body>

</Html>